
migrations/staging_db.sql
datasets/kaggle_artists.csv
datasets/musicBrainz_ActiveArtists.csv
datasets/ukEventsDetails.csv
ADMP-PeerAssessmentForm-201920.doc
datasets/activeArtists.csv
scripts/BQ3_artists_202004111047.sql
scripts/BQ3_venues_202004111047.sql
datasets/musicbrainz_artists_202004111128.csv
scripts/BQ3_musicbrainz_artists_202004111126.sql
scripts/BQ3_songkick_ukEvents_withName__202004111135.sql
scripts/BQ3.sql
.git.zip
source_codes/Spotify/.ipynb_checkpoints/Dataset_Profiling-checkpoint.ipynb
source_codes/Spotify/.ipynb_checkpoints/data_storage_csv_postgres-checkpoint.ipynb
source_codes/Spotify/.ipynb_checkpoints/hive_integration_example-checkpoint.ipynb
source_codes/Spotify/.ipynb_checkpoints/spotify_cleanup_spark-checkpoint.ipynb
source_codes/Spotify/Dataset_Profiling.ipynb
